<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [117]:
import pandas as pd
import numpy as np
import math

In [17]:
# Change the path to the dataset file if needed. 
PATH = '/home/gylever/jupyter_notebook/mlcourse.ai/data/athlete_events.csv'

In [101]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [97]:
print(data[data['Year'] == 1996].groupby('Sex')['Age'].min())

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [292]:
m_gymnastics = len(data[(data['Sex'] == 'M') & (data['Sport'] == 'Gymnastics')]['Name'].unique())
m_year = len(data[data['Year'] == 2000]['Name'].unique())

res = round(((m_gymnastics / m_year)),1)
print(res)

0.2

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [157]:
# 3. Какое среднее и стандартное отклонение высоты для баскетболистов-женщин принимали участие 
# в Олимпийских играх 2000 года? Вокруг ответа на первый децим
print( round((data[(data['Sex'] == 'F') & (data['Sport'] == 'Basketball') & \
                   (data['Year'] == 2000)].agg([np.mean, np.std])), 1) )

           ID   Age  Height  Weight    Year
mean  65981.3  26.7   182.4    73.5  2000.0
std   38666.2   4.2     9.1     9.0     0.0

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [199]:
# 4. Найдите спортсмена, принимавшего участие в Олимпийских играх 2002 года, с самым 
# высоким весом среди других участников той же Олимпиады. Какой спорт он или она сделал?

# 1 вариант
h_weight = data[data['Year'] == 2002]['Weight'].max()
print( data[(data['Weight'] == h_weight) & (data['Year'] == 2002)] )
# 2 вариант
data[data['Year'] == 2002].sort_values(['Weight'], na_position='first').iloc[-1]
#df[df['Year'] == 2002].sort_values('Weight', ascending=False).iloc[0].Sport

          ID               Name Sex   Age  Height  Weight    Team  NOC  \
99154  50171  Emmanuel Hostache   M  26.0   190.0   123.0  France  FRA

             Games  Year  Season            City      Sport  \
99154  2002 Winter  2002  Winter  Salt Lake City  Bobsleigh

                     Event Medal
99154  Bobsleigh Men's Two   NaN

ID                      50171
Name        Emmanuel Hostache
Sex                         M
Age                        26
Height                    190
Weight                    123
Team                   France
NOC                       FRA
Games             2002 Winter
Year                     2002
Season                 Winter
City           Salt Lake City
Sport               Bobsleigh
Event     Bobsleigh Men's Two
Medal                     NaN
Name: 99154, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [210]:
# 5. Сколько раз Лау Браткевич участвовал в Олимпийских играх в разные годы?
print( data[data['Name'] == 'Pawe Abratkiewicz'].groupby(['Year']).describe() )

       Age                                          Height         ...   \
     count  mean  std   min   25%   50%   75%   max  count   mean  ...
Year                                                               ...
1992   2.0  21.0  0.0  21.0  21.0  21.0  21.0  21.0    2.0  183.0  ...
1998   2.0  27.0  0.0  27.0  27.0  27.0  27.0  27.0    2.0  183.0  ...
2002   2.0  31.0  0.0  31.0  31.0  31.0  31.0  31.0    2.0  183.0  ...

         ID        Weight
        75%    max  count  mean  std   min   25%   50%   75%   max
Year
1992  562.0  562.0    2.0  84.0  0.0  84.0  84.0  84.0  84.0  84.0
1998  562.0  562.0    2.0  84.0  0.0  84.0  84.0  84.0  84.0  84.0
2002  562.0  562.0    2.0  84.0  0.0  84.0  84.0  84.0  84.0  84.0

[3 rows x 32 columns]

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [223]:
# 6. Сколько серебряных медалей в теннисе выиграло Австралия на Олимпийских играх 2000 года?
#data.groupby('Sport').describe()
print( data[(data['Medal'] == 'Silver') & (data['Year'] == 2000) \
            & (data['Sport'] == 'Tennis') & (data['Team'] == 'Australia')].count()[0] )

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [299]:
# 7. Правда ли, что Швейцария выиграла меньше медалей, чем Сербия на Олимпийских 
# играх 2016 года? Не учитывайте значения NaN в столбце Medal.

med_switzerland = data[(data['Team'] == 'Switzerland') & (data['Year'] == 2016) & (~data['Medal'].isna())].count()[0]
med_serbia = data[(data['Team'] == 'Serbia') & (data['Year'] == 2016) & (~data['Medal'].isna())].count()[0]

print( (med_switzerland < med_serbia) )

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [274]:
# 8. Какую возрастную категорию занимали наименьшие и большинство участников Олимпиады 2014 года?

data['categ'] = pd.cut(data['Age'], range(5, 60, 10), False)

print( data[data['Year'] == 2014]['categ'].value_counts(True) )

[25, 35)    0.530470
[15, 25)    0.414519
[35, 45)    0.054192
[45, 55)    0.000818
[5, 15)     0.000000
Name: categ, dtype: float64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [301]:
# 9. Правда ли, что в Лейк-Плэсиде прошли летние Олимпийские игры? 
# Правда ли, что в Санкт-Морице прошли зимние Олимпийские игры?

summer_held = data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')].count()[0]
winter_held = data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')].count()[0]
print(summer_held, winter_held)

0 1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [290]:
# 10. Какова абсолютная разница между количеством уникальных видов спорта 
# на Олимпийских играх 1995 года и Олимпийских играх 2016 года?

count_1995 = len(data[data['Year'] == 1995]['Sport'].unique())
count_2016 = len(data[data['Year'] == 2016]['Sport'].unique())

print(count_1995, count_2016)

0 34